/* 基础重置 */
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  &:focus, &:active, &:visited {
    color: inherit;
  }
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 滚动条美化 (Chrome/Safari) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
